
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}
body {
  color: #333333;
  transition: background-color 0.2s, color 0.2s;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    cursor: pointer; 
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 19px;
    background-color: transparent;
}
section {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Dark Theme */
body.dark {
  background-color: #1e1e1e;
  color: #ffffff;
}
body.dark select {
    color: #ffffff;
}
body.dark #option {
    background-color: #252526;
    color: #fff;
    border: none;
}


.left {
  padding: 10px;
  cursor: pointer;
  margin: 0 10px;
  float: left;
  border: none;
  outline: none;
  background-color: transparent;
  border: none;
}

#clock {
    font-size: 7.375rem;
    font-weight: 800;
}


/* Mobile styles (for screens smaller than 768px) */
@media (max-width: 768px) {
    #clock {
        font-size: 55px;
    }
  }
  
  /* Extra-small devices (portrait phones, less than 480px) */
  @media (max-width: 480px) {
    #clock {
        font-size: 35px;
    }
  }
  